<!DOCTYPE html>
<html>
  <head>
    <title>Song that never ends</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header>
    <a href="/">Home</a>
    <a href="https://www.youtube.com/watch?v=HNTxr2NJHa0">YouTube</a>
  </header>
<p>
  <%= verse %>
</p>
<div>
  <img src=<%= image %>>
</div>
<div>
   <a href=<%= nextLink %>>Next>>></a>
</div>
  </body>
</html>
